# ------------------------------------------------------------------
# General
# ------------------------------------------------------------------
PORT=9000

# ------------------------------------------------------------------
# Authentication
# ------------------------------------------------------------------
PRIVATE_KEY_PATH=belajarMembuatSekolah1012210

# ------------------------------------------------------------------
# Sentry
# ------------------------------------------------------------------
DSN_SENTRY_URL=https://af3637d51a6e4ce184ef85bff0d35454@sentry.io/1327319

# ------------------------------------------------------------------
# AWS
# ------------------------------------------------------------------
AWS_ACCESS_KEY_ID=AKIAIAYZ2Y5P2BHL56PA
AWS_SECRET_ACCESS_KEY=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
AWS_REGION=ap-southeast-1

# ------------------------------------------------------------------
# DB
# ------------------------------------------------------------------
MONGO_DATABASE_URL=mongodb://localhost:27017/domain
MYSQL_CONNECTION_LIMIT=100
MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=12344321
MYSQL_DATABASE=mockup

# ------------------------------------------------------------------
# ELASTICSEARCH
# ------------------------------------------------------------------
ELASTICSEARCH_CONNECTION_CLASS=http
ELASTICSEARCH_API_VERSION=6.5
ELASTICSEARCH_HOST=localhost:9200
ELASTICSEARCH_MAX_RETRIES=10
ELASTICSEARCH_REQUEST_TIMEOUT=30000

# ------------------------------------------------------------------
# Logstash
# ------------------------------------------------------------------
LOGSTASH_HOST=127.0.0.1
LOGSTASH_PORT=5000

# ------------------------------------------------------------------
# APM
# ------------------------------------------------------------------
ELASTIC_APM_SERVICE_NAME=trace-user
ELASTIC_APM_SERVER_URL=http://localhost:8200